#title {
  background-color:rgb(125, 84, 163);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0px;
  font-weight: bolder;
  font-style: italic;
  }

  #header {
  background-color:rgb(125, 84, 163);
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bolder;
  font-style: Helvetica;
  width: 100%
  }


#studentname {
 background-color: white(187, 77, 101, 0.589);
 color: purple;
 text-align: end
 }
