#title {
  background-color:rgb(125, 84, 163);
  color: white;
  padding: 5px;
  text-align: center;
  margin: 0px;
  font-weight: bolder;
  font-style: italic;
  }

  #header {
  background-color:rgb(125, 84, 163);
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  width: 100%
  }


#studentname {
 background-color: white(187, 77, 101, 0.589);
 color: purple;
 text-align: end
 }



